.btn{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}

body{
   
    text-align: center;
    background: linear-gradient(180deg, #00c6ff, #0072ff, #00c6ff);
    background-size: 200% 200%;
    background-attachment: fixed;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: pink;
}